@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  text-align: center;
  background-image: url(./images/background.jpg);
  background-size: 420px;
  background-position: center;
  background-repeat: repeat;
}

#board {
  background-color: black;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

:where(.game-modal, .game-info) button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  background: #008000;
  text-transform: uppercase;
}

:where(.game-modal, .game-info) button:hover {
  background: #104911;
}
.game-modal, .game-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 0 10px;
  transition: opacity 0.4s ease;
}
.game-modal.show, .game-info.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s 0.4s ease;
}
.game-modal .content, .game-info .content {
  padding: 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.game-modal h4, .game-info h4 {
  font-size: 1.53rem;
}
.game-modal p, .game-info p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}
.game-modal p b, .game-info p b {
  color: #386641;
  font-weight: 600;
}
.game-modal button, .game-info button {
  padding: 12px 23px;
}